In [2]:
hundred = []

In [3]:
for i in range(1,101):
    hundred.append(i)

In [12]:
hundred

[1, 101]

In [39]:
#print "first name" is a "last name"
#print alphabetically by last name, then first name, and do the same thing

names = [['Ada', 'Boal'],['Paul', 'Boal'],['Teddy','Boal'],['Daisy','Duck'],['Donald','Duck'],['Eric','Westhus']]

In [40]:
for i in names:
    print(i[0], "is a", i[1])

Ada is a Boal
Paul is a Boal
Teddy is a Boal
Daisy is a Duck
Donald is a Duck
Eric is a Westhus

In [43]:
full_name = []
names_by_last = []


for name in names:
    names_by_last.append([name[1],name[0]])
    
names_by_last.sort()

for name in names_by_last:
    print(name[1] + " " + name[0])

Ada Boal
Paul Boal
Teddy Boal
Daisy Duck
Donald Duck
Eric Westhus

In [55]:
families = {
    'Lester-Boal':[
        {'last':'Boal','first':'Paul','age':41},
        {'last':'Lester-Boal','first':'Ada','age':12}
    ],
    'Holcomb':[
        {'last':'Holcomb','first':'Emily','age':26},
        {'last':'Holcomb','first':'Erin','age':29}
    ]
}

In [56]:
average_ages = {}

for last_name, family in families.items():
    total_age = 0
    count = 0
    for member in family:
        total_age += member['age']
        count += 1
    average_ages[last_name] = (total_age/count)

In [57]:
average_ages

{'Lester-Boal': 26.5, 'Holcomb': 27.5}