In [38]:
    names = [
             ['Boal', 'Paul'],
             ['Duck', 'Donald'],
             ['Duck', 'Daisy'],
             ['Boal', 'Ada'],
             ['Boal', 'Teddy'],
             ['Westhus', 'Eric']
            ]

In [45]:
families = {}

for last, first in names:
    if last not in families:
        families[last]=(first)
    
    print(families)

{'Boal': 'Paul'}
{'Boal': 'Paul', 'Duck': 'Donald'}
{'Boal': 'Paul', 'Duck': 'Donald'}
{'Boal': 'Paul', 'Duck': 'Donald'}
{'Boal': 'Paul', 'Duck': 'Donald'}
{'Boal': 'Paul', 'Duck': 'Donald', 'Westhus': 'Eric'}

In [55]:
families = {last: [first] for last, first in names}

In [56]:
families

{'Boal': ['Teddy'], 'Duck': ['Donald'], 'Westhus': ['Eric']}

In [53]:
names.sort()

In [54]:
names

[['Boal', 'Ada'],
 ['Boal', 'Paul'],
 ['Boal', 'Teddy'],
 ['Duck', 'Daisy'],
 ['Duck', 'Donald'],
 ['Westhus', 'Eric']]

In [57]:
dict?

In [59]:
families = {}

for last, first in names:
    families[last]=first

In [60]:
families

{'Boal': 'Teddy', 'Duck': 'Donald', 'Westhus': 'Eric'}

In [67]:
families = {}

for name in names:
    if name[0] in families:
        families[name[0]].append(name[1])
    else:
        families[name[0]] = [name[1]]
        
print(families)

{'Boal': ['Ada', 'Paul', 'Teddy'], 'Duck': ['Daisy', 'Donald'], 'Westhus': ['Eric']}