Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = ""
COLLABORATORS = ""

---

In [9]:
import pandas as pd

In [10]:
condemns = pd.read_csv('/data/condemn.txt', low_memory=False)

In [11]:
condemns.columns

Index(['AcctNum', 'PrclErr', 'AddrAdjusted', 'CityBlock', 'Parcel',
       'OwnerCode', 'Handle', 'Parcel9', 'AddrNum', 'AddrSuf', 'StDir',
       'StName', 'StType', 'InspectDate', 'InspectType', 'CondLetterSent',
       'Status', 'OwnerCompany', 'OwnerName', 'OwnerAddr', 'OwnerCity',
       'OwnerState', 'OwnerZIP', 'GeoCityBLockPart', 'Ward00', 'Precinct02',
       'Nbrhd', 'CDADist', 'CDASubDist', 'PoliceDist', 'CensBlock00',
       'AsrNbrhd', 'ImpactCode', 'NLC', 'Parity', 'Inspector', 'Images',
       'FirstDate', 'LastDate', 'UpDateGeo'],
      dtype='object')

In [5]:
# After you do a groupby, the columns you grouped by become the data frame row index rather than a column.
# You can use .reset_index() to make them columns again!

by_pricinct_status = condemns.groupby(['Precinct02','Status'])['AcctNum'].count().reset_index()

In [6]:
by_pricinct_status

    Precinct02 Status  AcctNum
0          1.0      B      787
1          1.0      L      413
2          1.0      R        6
3          1.0      W      623
4          2.0      B      886
5          2.0      L      409
6          2.0      R        7
7          2.0      W      727
8          3.0      B      698
9          3.0      L      343
10         3.0      R        6
11         3.0      W      667
12         4.0      B      962
13         4.0      L      469
14         4.0      R       15
15         4.0      W      928
16         5.0      B      788
17         5.0      L      418
18         5.0      R       11
19         5.0      W      635
20         6.0      B      857
21         6.0      L      435
22         6.0      R       10
23         6.0      W      603
24         7.0      B      900
25         7.0      L      454
26         7.0      R        7
27         7.0      W      672
28         8.0      B     1033
29         8.0      L      453
..         ...    ...      ...
37        10.0      L      430
38        10.0      R        7
39        10.0      W      811
40        11.0      B      785
41        11.0      L      337
42        11.0      R       15
43        11.0      W      933
44        12.0      B      655
45        12.0      L      247
46        12.0      R        6
47        12.0      W      758
48        13.0      B      419
49        13.0      L      172
50        13.0      R        4
51        13.0      W      597
52        14.0      B       78
53        14.0      L       31
54        14.0      R        1
55        14.0      W       38
56        15.0      B       15
57        15.0      L       19
58        15.0      W       18
59        16.0      B        6
60        16.0      L       12
61        16.0      W        4
62        17.0      B        5
63        17.0      L        1
64        17.0      W        3
65        98.0      W        1
66        99.0      W        1

[67 rows x 3 columns]

In [7]:
by_pricinct_status.pivot(index='Precinct02', columns='Status', values='AcctNum')

Status           B      L     R       W
Precinct02
1.0          787.0  413.0   6.0   623.0
2.0          886.0  409.0   7.0   727.0
3.0          698.0  343.0   6.0   667.0
4.0          962.0  469.0  15.0   928.0
5.0          788.0  418.0  11.0   635.0
6.0          857.0  435.0  10.0   603.0
7.0          900.0  454.0   7.0   672.0
8.0         1033.0  453.0  10.0  1134.0
9.0          795.0  354.0   5.0   616.0
10.0         917.0  430.0   7.0   811.0
11.0         785.0  337.0  15.0   933.0
12.0         655.0  247.0   6.0   758.0
13.0         419.0  172.0   4.0   597.0
14.0          78.0   31.0   1.0    38.0
15.0          15.0   19.0   NaN    18.0
16.0           6.0   12.0   NaN     4.0
17.0           5.0    1.0   NaN     3.0
98.0           NaN    NaN   NaN     1.0
99.0           NaN    NaN   NaN     1.0

In [8]:
import numpy as np
condemns.pivot_table(
    values='AcctNum', 
    index='InspectDate', 
    columns='Status', 
    aggfunc=np.ma.count, 
    fill_value=0)

Status               B  L  R  W
InspectDate
1901-05-05 00:00:00  0  0  0  1
1904-10-06 00:00:00  1  0  0  0
1905-11-16 00:00:00  0  0  0  1
1906-11-25 00:00:00  1  0  0  0
1907-07-12 00:00:00  0  0  0  1
1908-08-08 00:00:00  0  0  0  1
1909-03-21 00:00:00  0  0  0  1
1916-07-17 00:00:00  0  0  0  1
1958-05-16 00:00:00  1  0  0  0
1966-07-24 00:00:00  1  0  0  0
1980-03-05 00:00:00  0  0  0  1
1980-09-29 00:00:00  1  0  0  0
1981-07-22 00:00:00  0  1  0  0
1981-08-24 00:00:00  0  0  0  1
1982-03-15 00:00:00  0  1  0  0
1982-03-17 00:00:00  0  0  0  1
1982-03-30 00:00:00  0  0  0  1
1982-04-21 00:00:00  0  0  0  1
1982-06-22 00:00:00  0  0  0  1
1982-08-18 00:00:00  0  0  0  1
1982-12-02 00:00:00  0  0  1  0
1982-12-07 00:00:00  0  0  0  1
1982-12-08 00:00:00  0  0  0  2
1983-01-07 00:00:00  0  0  0  1
1983-01-25 00:00:00  0  0  1  0
1983-02-01 00:00:00  0  0  0  1
1983-02-22 00:00:00  1  0  0  0
1983-03-02 00:00:00  0  0  0  1
1983-07-25 00:00:00  1  0  0  0
1983-07-27 00:00:00  0  0  0  1
...                 .. .. .. ..
2014-10-30 00:00:00  0  1  0  0
2014-11-05 00:00:00  0  3  0  0
2014-11-06 00:00:00  0  1  0  0
2014-11-07 00:00:00  0  1  0  0
2014-11-11 00:00:00  0  1  0  0
2014-11-12 00:00:00  1  0  0  0
2014-11-13 00:00:00  0  2  0  0
2014-11-14 00:00:00  0  1  0  0
2014-11-19 00:00:00  0  1  0  0
2014-12-03 00:00:00  0  2  0  0
2014-12-11 00:00:00  1  0  0  0
2014-12-17 00:00:00  0  2  0  0
2014-12-19 00:00:00  0  1  0  0
2014-12-22 00:00:00  0  1  0  0
2014-12-30 00:00:00  0  1  0  0
2015-01-05 00:00:00  0  1  0  0
2015-01-13 00:00:00  0  1  0  0
2015-01-14 00:00:00  0  2  0  0
2015-01-15 00:00:00  1  0  0  0
2015-01-18 00:00:00  0  1  0  0
2015-01-28 00:00:00  1  0  0  0
2015-02-02 00:00:00  0  3  0  0
2015-02-03 00:00:00  0  2  0  0
2015-02-04 00:00:00  0  1  0  0
2015-02-11 00:00:00  0  1  0  0
2015-02-12 00:00:00  1  0  0  0
2015-02-17 00:00:00  0  1  0  0
2025-07-25 00:00:00  1  0  0  0
2032-09-25 00:00:00  0  1  0  0
2033-06-25 00:00:00  0  0  0  1

[6622 rows x 4 columns]