Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = ""
COLLABORATORS = ""

---

In [1]:
%matplotlib inline
import pandas as pd
liver = pd.read_csv('/data/indian_liver_patient.csv')

# Single Grouping Field

In [2]:
liver.groupby("Gender").count()

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
Gender,,,,,,,,,,
Female,142,142,142,142,142,142,142,142,140,142
Male,441,441,441,441,441,441,441,441,439,441

In [ ]:
liver.groupby("Gender").count().reset_index()

In [ ]:
liver.groupby("Gender", as_index=False).count()

# Grouping by Multiple Fields at Once

In [ ]:
liver.groupby(["Gender","Age"], as_index=False).count()

# Common Custom Grouping Procedure

1. Create the new field you want to group by
2. Group by

In [ ]:
liver["Decade"] = liver["Age"] // 10

In [ ]:
liver.groupby("Decade").count()

# Custom Age Buckets

0-18, 19-44, 45-64, 65-84, and 85

1. Create a function that generates the grouping buckets you need
2. Set your input field to be the data frame index
3. Create a groupby using your custom function

In [ ]:
# 1. Create a function to generate teh grouping buckets
#    Note that the labels here are prefixed with a letter to make them more easily sortable.
#    There's also an "unknown" that sorts at the bottom as Z

def cms_ages(age):
    ranges = [
        {'min': 0,  'max': 18,  'label': 'A.  0-18'},
        {'min': 19, 'max': 44,  'label': 'B. 19-44'},
        {'min': 45, 'max': 64,  'label': 'C. 45-64'},
        {'min': 65, 'max': 84,  'label': 'D. 65-84'},
        {'min': 85, 'max': 999, 'label': 'E. 85-up'}
    ]
        
    for r in ranges:
        if age >= r.get('min') and age <= r.get('max'):
            return r.get('label')
    
    return 'Z. Unknown'

In [ ]:
liver.head()

In [ ]:
liver.set_index('Age').head()

In [ ]:
by_cms_age = liver.set_index("Age").groupby(cms_ages)

In [ ]:
by_cms_age.count().reset_index()

# Using a Categorical Series

Categories are a special data type that has a defined domain...  "Gender is always Male, Female, or Unknown"

In [ ]:
gender_type = pd.CategoricalDtype(categories=["Femail","Male","Unknown"], ordered=True)

In [ ]:
liver = pd.read_csv('/data/indian_liver_patient.csv')

In [ ]:
liver["Gender"] = liver["Gender"].astype(gender_type)

In [ ]:
liver.head()

In [ ]:
liver.count()

In [ ]:
liver.fillna('Unknown', inplace=True)

In [ ]:
liver.groupby("Gender", observed=False).count()

# Grouping DateTime Fields

In [ ]:
condemnations = pd.read_csv('/data/condemn.txt')

In [ ]:
condemnations.columns

In [ ]:
condemnations["InspectDate"].head()

In [ ]:
condemn = condemnations[["InspectDate","Status"]]

In [ ]:
condemn['InspectDate'] = pd.to_datetime(condemn['InspectDate'].astype(str), format='%Y-%m-%d')

In [ ]:
condemn.head()

In [ ]:
by_year = condemn.groupby(pd.Grouper(key="InspectDate", freq='Y'))

In [ ]:
by_year.count().plot()

In [ ]:
by_year.count().head()

In [ ]:
condemn.groupby(pd.Grouper(key="InspectDate", freq='Q')).count().plot()

In [ ]:
condemn.groupby("InspectDate").count().plot()